<%- include("partials/header") %>

<style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
tr td:nth-child(1){
  font-weight: bold;
  width: 250px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px 4px;
}
  .selecttimesection{
    overflow: hidden;
    background: white;
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    padding: 3%;
  }
  body{
    overflow-x: hidden !important;
  }
 
  .content{
    text-align: center;
    padding: 20px;
  }
  .inputtime{
    margin-top: 10px;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
  }
  .title2{
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 30px;
    z-index: 101;
    text-align: center;
    font-size: 20px;
  }
  .title{
    width: 100%;
    display: block;
    position: absolute;
    z-index: 101;
    top: 30px;
    left: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transform: translate(-50%,-10%);
  }

  .requestssection table{
    margin: 2% 0%;

  }

  .requestssection{
    position: relative;
    display: block;
    width: 90%;
    background: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 1% 2%;
  }
  .employeesection{
    position: relative;
    display: block;
    width: 90%;
    background: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 2%;
  }
  .employee{
    margin: 10px 0;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 1%;
  }
  .chartsection{
    padding-top: 50px;
    display: block;
    background: white;
    position: relative;
    border-radius: 20px;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
  }
  .chart{
    z-index: 100;
    position: relative;
    text-align: center;
    background: white;
    display: block;
    width: 100%;
    height: 100%;
  }
  .rowinfo{
    width: 100%;
    display: flex;
  }
  .column{
    position: relative;
    display: inline-block;
    padding: 0 3%;
  }
  .column img{
    display: block;
    width: 240px;

    max-height: 360px;
  }
  .list{
    color: black;
    width: 100%;
    background: white;
    display: flex;
    line-height: 25px;
  }
  .list span{
    display: inline-block;
    width: 150px
  }
  .headlist{
    width: 15%;
  }
  .amountlist{
    width: 80px;
    text-align: right;
  }

  .checkwidthscreen{
    display: none;
  }
  @media only screen and (max-width: 800px) {
  .inputtime{
    margin-top: 10px;
    padding: 0px;
    display: block;
  }
  .selecttimesection h1{
    font-size: 20px;
  }
  .selecttimesection h4{
    font-size: 14px;
  }
}
@media only screen and (max-width: 850px) {
  .requestssection, .employeesection, .employee, .chartsection, .chart{
    display: none;
  }
  .checkwidthscreen{
    display: block;
  }

}
</style>

<%

var title, showdashboard, start, end, message
var chart

%>
<div class="selecttimesection">
  <h1 class="th">สรุปผลการดำเนินการของเจ้าหน้าที่</h1>
  <%if(!message){%>
  <h1 class="th">คุณ <%=name%></h1>
  <%}%>
  <h4 class="th">จากวันที่ <%=start%> ถึงวันที่ <%=end%> </h4>
  <p class="checkwidthscreen">อุปกรณ์ของคุณไม่รองรับการแสดงผล</p>
  <%if(message){%>
    <h4 class="th"><%=message%></h4>
  <%}else{%>
    <button class="submit" onclick="printreport()" style="margin-top: 10px; padding: 5px;">ดาวน์โหลดรายงานสรุปผล</button>
  <%}%>    
  <a class="backbtn"href="/dashboard">ย้อนกลับ</a>

</div>
    <%if(chart[0]){%>

<%
var employeedata
%>
<%if(!message){%>

        <div class="employeesection"> 
          <h4 class="title2">ข้อมูลการทำงานของเจ้าหน้าที่</h4>
          <%if(employeedata != 0 || employeedata.length > 0){%>
            <% for(var i=0; i<employeedata.length; i++){ %>
              <hr>
              <div class="employee">
                  <div class="rowinfo">
                    <div class="column">
                      <img src="/uploads/<%=employeedata[i].profileimage%>" alt="" >
                    </div>
                    <div class="column" style="width: 100%;">
                      <h4>คุณ <%=employeedata[i].name%></h4><br>
                      <h4>ระยะเวลาที่ใช้ทั้งหมดในการดำเนินการ : <%=employeedata[i].timeused%></h4><br>
                      <h4>จำนวนรายการแบ่งตามสถานะการดำเนินการที่รับผิดชอบทั้งหมด (<%=employeedata[i].receiveamount%> รายการ)</h4><br>
                      <%for(var z=0; z<employeedata[i].listsbystatus.length; z++){%>
                      <div class="list"><span class="headlist"><%=employeedata[i].listsbystatus[z][0]%></span><span class="amountlist"><%=employeedata[i].listsbystatus[z][1]%> รายการ</span></div>
                      <%}%>
                    </div>
                  </div>
              </div>
              <%}%>
        <%}
        else{
        %>
        <div style="text-align:center">ยังไม่มีเจ้าหน้าที่ในแผนกรับเรื่องรายการแจ้งซ่อม</div>
        <%}%>
      
        </div>
    <%
    var listsdetail
    %>


        <div class="requestssection">
          <div class=""><h4 class="title2" style="margin: 0%;">ข้อมูลรายละเอียดรายการแจ้งซ่อม</h4></div>
        </div>


            <%for(var i=0; i<listsdetail.length; i++){%>
            <div class="requestssection">
              <%
              for(var x=0; x<listsdetail[i].length; x++){

                %>
                <table>
                    <%

                    for(var y=0; y<listsdetail[i][x].data.length; y++){
                    var table = listsdetail[i][x].data[y]

                    %>
                      <tr>
                        
                          <%for(z=0; z<table.length; z++){%>
                              <td><%=table[z]%></td>
                          <%}%>
                      </tr>
                    <%}%>
                </table>
              <%}%>
              </div>
            <%}%>
        </div>
        <script src="\pdfmake\build\pdfmake.js"></script>
        <script src="\pdfmake\build\vfs_fonts.js"></script>
        <script>


          $( document ).ready(function() {
          });
        function printreport(){
          pdfMake.fonts = {
          Sarabun: {
            normal: "Sarabun-Regular.ttf",
            bold: "Sarabun-Bold.ttf",
            italics: "Sarabun-Italic.ttf",
            bolditalics: "Sarabun-BoldItalic.tff"
          }
          }
        

        var tablee3 = <%- JSON.stringify(employeedata) %>
        const date = new Date()
        const result = date.toLocaleDateString('th-TH', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
          weekday: 'long',
        })
        var report = {
          footer: function(currentPage, pageCount) { return { text: currentPage.toString() + ' of ' + pageCount, color: 'gray', opacity: 1, bold: true, italics: false,margin: [ 10, 5, 10, 5 ], alignment: 'right' } },
          watermark:{ text: 'COSCI', color: 'gray', opacity: 0.3, bold: true, italics: false },
          pageOrientation: 'landscape',
      content: [
      {text: 'สรุปผลการดำเนินการของเจ้าหน้าที่\nคุณ<%=name%>', style: 'header', alignment: 'center'},  
      {text: 'จากวันที่ <%=start%> ถึงวันที่ <%=end%> ', style: 'subhead', alignment: 'center'},  
        {text: 'ข้อมูลการทำงานของเจ้าหน้าที่', style: 'header'},
        <%if(employeedata == 0){%>
        {text: 'ยังไม่มีเจ้าหน้าที่ในแผนกรับเรื่องรายการแจ้งซ่อม', style: 'subheader'},
        <%}else{%>
        <%for(var i=0; i<employeedata.length; i++){%>
        {stack:
            [
                {text: 'คุณ <%=employeedata[i].name%>', style: 'subheader'},
                {text: 'ระยะเวลาที่ใช้ทั้งหมดในการดำเนินการ : <%=employeedata[i].timeused%>\n', style: 'normal'},
                {text: 'จำนวนรายการที่รับเรื่องแบ่งตามสถานะการดำเนินการทั้งหมด (<%=employeedata[i].receiveamount%> รายการ)', style: 'normal'},
                {
                  style: 'tableExample',
                  table: {
                    body: [
                      ['สถานะรายการ', 'จำนวนรายการ'],
                      <%for(var z=0; z<employeedata[i].listsbystatus.length; z++){%>
                      ['<%=employeedata[i].listsbystatus[z][0]%>', '<%=employeedata[i].listsbystatus[z][1]%>'],
                      <%}%>

                    ]
                  }
                },
            ],
          unbreakable: true
        },
        <%}}%>
        {text: 'ข้อมูลรายละเอียดรายการแจ้งซ่อมที่รับผิดชอบ', style: 'header',pageBreak: 'before'},

        <%for(var i=0; i<listsdetail.length; i++){%>
          {columns: [
          {stack:
            [
            {text: 'รายการที่ <%=i+1%>', style: 'subheader'},
            <%for(var x=0; x<2; x++){%>
                {
                  style: 'tableExample2',
                  table: {
                    body: [
                    <%
                    for(var y=0; y<listsdetail[i][x].data.length; y++){
                    var table = listsdetail[i][x].data[y]
                    %>
                      [
                      <%for(z=0; z<table.length; z++){%>
                          '<%=table[z]%>',
                      <%}%>
                      ],
                    <%}%>
                    ]
                  }
                },
              <%}%>
              {text: '', style: 'header',pageBreak: 'after'},
            ],
            
          // unbreakable: true
        },
        {stack:
            [
            {text: '\n', style: 'subheader'},
            <%for(var x=2; x<3; x++){%>
                {
                  style: 'tableExample2',
                  table: {
                    body: [
                    <%
                    for(var y=0; y<listsdetail[i][x].data.length; y++){
                    var table = listsdetail[i][x].data[y]
                    %>
                      [
                      <%for(z=0; z<table.length; z++){%>
                          '<%=table[z]%>',
                      <%}%>
                      ],
                    <%}%>
                    ]
                  }
                },
              <%}%>
              {text: '', style: 'header',pageBreak: 'after'},
            ],
            
          // unbreakable: true
        }
      ]},
        // {canvas: [ { type: 'line', x1: 0, y1: 0, x2: 765, y2: 0, lineWidth: 1 } ]},
        <%}%>



      ],
      styles: {
        normal: {
          fontSize: 10,
          bold: false,
          margin: [0, 0, 0, 5]
        },
        header: {
          fontSize: 14,
          bold: true,
          margin: [0, 10, 0, 10]
        },
        subheader: {
          fontSize: 12,
          bold: true,
          margin: [0, 0, 0, 5]
        },
        tableExample2: {
          fontSize: 8,
          margin: [0, 5, 0, 5]
        },
        tableExample: {
          fontSize: 10,
          margin: [0, 5, 0, 5]
        },
        tableHeader: {
          bold: true,
          fontSize: 13,
          color: 'black'
        }
      }
      ,
        defaultStyle: { font: 'Sarabun' , margin: [0, 0, 100, 0] }
        };

          pdfMake.createPdf(report).open();
        }
        </script>
        <%}%>
<%}%>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%- include("partials/footer") %>

